#filtros {
    background-color: #F5F8FA;
    box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.15);
    display: none;
}
#filtros-title {
    font-weight: 700;
    font-size: 24px;
}
.text-gray-900 {
    color: #283239;
}
#filtros legend {
    font-weight: 600;
    font-size: 14px;
    color: #5F7686;
    text-transform: uppercase;
}
#filtros fieldset:nth-child(2) {
    border-left: 1px solid #E7EBEE;
    padding-left: 70px;
}
.pl-1 {
    padding-left: 0.25rem !important;
}
.pr-1 {
    padding-right: 0.25rem !important;
}
.pl-2 {
    padding-left: 0.5rem !important;
}
.pr-2 {
    padding-right: 0.5rem !important;
}
.pl-3 {
    padding-left: 1rem !important;
}
.pr-3 {
    padding-right: 1rem !important;
}
.pl-4 {
    padding-left: 1.5rem !important;
}
.pr-4 {
    padding-right: 1.5rem !important;
}
.pl-5 {
    padding-left: 3rem !important;
}
.pr-5 {
    padding-right: 3rem !important;
}
.ml-1 {
    margin-left: 0.25rem !important;
}
.mr-1 {
    margin-right: 0.25rem !important;
}
.ml-2 {
    margin-left: 0.5rem !important;
}
.mr-2 {
    margin-right: 0.5rem !important;
}
.ml-3 {
    margin-left: 1rem !important;
}
.mr-3 {
    margin-right: 1rem !important;
}
.ml-4 {
    margin-left: 1.5rem !important;
}
.mr-4 {
    margin-right: 1.5rem !important;
}
.ml-5 {
    margin-left: 3rem !important;
}
.mr-5 {
    margin-right: 3rem !important;
}
#navegacaoDiretrizes {
    box-shadow: none;
    border-bottom: 2px solid #94A7B3;
    box-sizing: border-box;
}
#navegacaoDiretrizes .navbar-nav {
    gap: 2rem !important;
}
#navegacaoDiretrizes .navbar-nav .nav-link.active {
    color: var(--primary-primary-900, #104736);
    font-weight: 700;
    border-bottom: 3px solid #1C886B;
}
#navegacaoDiretrizes .nav-title {
    display: none;
    transition: 0.3s ease;
}
#navegacaoDiretrizes .nav-link {
    color: #5F7686;
    border-radius: 0;
}
#navegacaoDiretrizes .nav-link:hover .nav-title,
#navegacaoDiretrizes .nav-link.active .nav-title,
#navegacaoDiretrizes .nav-link:focus .nav-title {
    display: inline;
}
#navegacaoDiretrizes .nav-link:hover,
#navegacaoDiretrizes .nav-link:focus {
    border-bottom: 3px solid #5F7686;
}
#navegacaoDiretrizes .nav-link {
    height: 45px !important;
    margin-bottom: -1px;
}
#checklist form .tabela {
    display: flex;
    flex-direction: column;
    row-gap: 36px;
}
#checklist form .titulos {
    display: grid;
    grid-template-columns: 5fr 128px 168px 6fr;
    gap: 16px;
}
#checklist .tabela fieldset {
    display: grid;
    grid-template-columns: 5fr 144px 184px 6fr;
    background-color: #F5F8FA;
    padding: 16px;
    border-radius: 12px;
    position: relative;
    align-items: center;
}
#checklist .tabela .classificacao {
    position: absolute;
    top: -12px;
    left: 16px;
}
#checklist .tabela .titulos strong,
#checklist .tabela label {
    font-weight: 800;
    font-size: 16px;
    line-height: 28px;
    color: #283239;
    margin: 0;
}
#checklist .tabela label {
    font-weight: 400;
}
#checklist .tabela label strong {
    padding-bottom: 5px;
}
#checklist .tabela .colunas {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}
#checklist .tabela .colunas.col2 {
    align-items: center;
}
#checklist .tabela .colunas:not(#checklist .tabela .colunas.col1) {
    padding-left: 16px;
}
#checklist .tabela .colunas:not(#checklist .tabela .colunas.col4) {
    padding-right: 16px;
    border-right: 1px solid #94A7B3;
}
#conteudo_checklist section h2 {
    display: none;
}
#checklist .tabela .titulos >div {
    border-bottom: 3px solid #CFD7DD;
}
#checklist .badge {
    background-color: #E7EBEE;
    color: #44545F;
    font-weight: 500;
    font-size: 14px;
    --bs-badge-padding-x: 0.90em;
    --bs-badge-padding-y: 0.4em;
    border-radius: 50rem;
}
.badge-primary {
    background-color: #C9F3E6 !important;
    color: #15654E !important;
}
.badge-secondary {
    background-color: #DEEAF7 !important;
    color: #1C4987 !important;
}