#filtros {
    background-color: #F5F8FA;
    box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.15);
    display: none;
}
#filtros-title {
    font-weight: 700;
    font-size: 24px;
}
.text-gray-900 {
    color: #283239;
}
#filtros legend {
    font-weight: 600;
    font-size: 14px;
    color: #5F7686;
    text-transform: uppercase;
}
#filtros fieldset:nth-child(2) {
    border-left: 1px solid #E7EBEE;
    padding-left: 70px;
}
.pl-1 {
    padding-left: 0.25rem !important;
}
.pr-1 {
    padding-right: 0.25rem !important;
}
.pl-2 {
    padding-left: 0.5rem !important;
}
.pr-2 {
    padding-right: 0.5rem !important;
}
.pl-3 {
    padding-left: 1rem !important;
}
.pr-3 {
    padding-right: 1rem !important;
}
.pl-4 {
    padding-left: 1.5rem !important;
}
.pr-4 {
    padding-right: 1.5rem !important;
}
.pl-5 {
    padding-left: 3rem !important;
}
.pr-5 {
    padding-right: 3rem !important;
}
.ml-1 {
    margin-left: 0.25rem !important;
}
.mr-1 {
    margin-right: 0.25rem !important;
}
.ml-2 {
    margin-left: 0.5rem !important;
}
.mr-2 {
    margin-right: 0.5rem !important;
}
.ml-3 {
    margin-left: 1rem !important;
}
.mr-3 {
    margin-right: 1rem !important;
}
.ml-4 {
    margin-left: 1.5rem !important;
}
.mr-4 {
    margin-right: 1.5rem !important;
}
.ml-5 {
    margin-left: 3rem !important;
}
.mr-5 {
    margin-right: 3rem !important;
}
#navegacaoDiretrizes {
    box-shadow: none;
    border-bottom: 2px solid #94A7B3;
    box-sizing: border-box;
}
#navegacaoDiretrizes .navbar-nav .nav-link.active,
#secoes_checklist h2 {
    color: var(--primary-primary-900, #104736);
    font-weight: 700;
    border-bottom: 3px solid #1C886B;
}
#secoes_checklist h2 {
    font-size: 20px;
    padding-bottom: 12px;
}
#navegacaoDiretrizes .nav-title {
    display: none;
    transition: 0.3s ease;
}
#navegacaoDiretrizes .nav-link {
    color: #5F7686;
    border-radius: 0;
    padding: 0 15px;
}
#navegacaoDiretrizes .nav-link:hover .nav-title,
#navegacaoDiretrizes .nav-link.active .nav-title,
#navegacaoDiretrizes .nav-link:focus .nav-title {
    display: inline;
}
#navegacaoDiretrizes .nav-link:hover,
#navegacaoDiretrizes .nav-link:focus {
    border-bottom: 3px solid #5F7686;
}
#navegacaoDiretrizes .nav-link {
    height: 45px !important;
    margin-bottom: -1px;
}
#checklist form .tabela {
    display: flex;
    flex-direction: column;
    row-gap: 32px;
}
#checklist form .titulos {
    display: grid;
    grid-template-columns: 5fr 128px 168px 6fr;
    gap: 16px;
}
#checklist .tabela fieldset {
    display: grid;
    grid-template-columns: 5fr 144px 184px 6fr;
    background-color: #F5F8FA;
    padding: 14px;
    border-radius: 12px;
    position: relative;
    align-items: center;
    border: 2px solid #F5F8FA;
}
#checklist .tabela fieldset.focused.primary {
    border: 2px solid #20A785;
}
#checklist .tabela fieldset.focused.secondary {
    border: 2px solid #709FE1;
}
#checklist .tabela .classificacao {
    position: absolute;
    top: -12px;
    left: 16px;
}
#checklist .tabela .titulos strong,
#checklist .tabela label {
    font-weight: 800;
    font-size: 16px;
    line-height: 28px;
    color: #283239;
    margin: 0;
}
#checklist .tabela label {
    font-weight: 400;
}
#checklist .tabela label strong {
    padding-bottom: 5px;
}
#checklist .tabela .colunas {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}
#checklist .tabela .colunas:not(#checklist .tabela .colunas.col1) {
    padding-left: 16px;
}
#checklist .tabela .colunas:not(#checklist .tabela .colunas.col4) {
    padding-right: 16px;
    border-right: 1px solid #94A7B3;
}
#conteudo_checklist section h2 {
    display: none;
}
#checklist .tabela .titulos >div {
    border-bottom: 3px solid #CFD7DD;
}
#checklist .badge {
    background-color: #E7EBEE;
    color: #44545F;
    font-weight: 500;
    font-size: 14px;
    --bs-badge-padding-x: 0.90em;
    --bs-badge-padding-y: 0.4em;
    border-radius: 50rem;
}
.badge-primary {
    background-color: #C9F3E6 !important;
    color: #15654E !important;
}
.badge-secondary {
    background-color: #DEEAF7 !important;
    color: #1C4987 !important;
}
.print-value {
  display: none;
}
#confirmModal {
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}
#confirmModal .modal-content {
    background: #E7EBEE;
    padding: 24px 16px;
    max-width: 480px;
    border-left: 4px solid #283239;
    border-radius: 0;
}
#confirmModal h3 {
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    color: #283239;
    max-width: 300px;
}
#confirmModal #confirmMessage {
    color: #343A40;
}
#confirmModal .btn-outline-secondary {
    --bs-btn-color: #283239;
    --bs-btn-border-color: #283239;
    --bs-btn-hover-color: #E7EBEE;
    --bs-btn-hover-bg: #283239;
    --bs-btn-hover-border-color: #283239;
    --bs-btn-focus-shadow-rgb: 108, 117, 125;
    --bs-btn-active-color: #E7EBEE;
    --bs-btn-active-bg: #283239;
    --bs-btn-active-border-color: #283239;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #283239;
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: #283239;
    --bs-gradient: none;
}
@media print {
    @page {
        size: landscape;
    }
    #menuAcessibilidade,
    #menu-principal,
    #navegacaoDiretrizes,
    footer,
    .sumir-impressao,
    #conteudo_checklist section h2 i.bi,
    #btn-back-to-top {
        display: none !important;
    }
    #checklist form .tabela {
        row-gap: 0;
    }
    #checklist .tabela fieldset {
        background-color: unset;
        border: unset;
        border: 2px solid #000;
        border-top: 1px solid #000;
        border-bottom: 1px solid #000;
        border-radius: 0;
        grid-template-columns: 32% 105px 110px 75px 40%;
        padding: 0;
    }
    #checklist .tabela .classificacao {
        position: relative;
        font-size: 12px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;
        top: unset;
        left: unset;
        border-radius: 0;
        background-color: transparent !important;
        color: var(--bs-body-color) !important;
    }
    #checklist form .titulos {
        background-color: #E0E0E0;
        grid-template-columns: 32% 105px 110px 75px 40%;
        gap: 0;
        border: 2px solid #000;
        border-bottom: 1px solid #000;
    }
    #checklist .tabela .titulos .class {
        display: block !important;
    }
    #checklist .container {
        max-width: calc(100% - 135px);
    }
    #checklist .tabela .titulos strong, #checklist .tabela label, #checklist .tabela .colunas {
        font-size: 12px;
        line-height: 20px;
        color: #000;
    }
    #checklist .tabela .colunas,
    #checklist .tabela .classificacao {
        padding: 8px !important;
    }
    #checklist .tabela .colunas:not(#checklist .tabela .colunas.col4),
    #checklist .tabela .classificacao {
        padding-right: 16px;
        border-right: 2px solid #000;
    }
    #checklist .tabela .titulos > div {
        border-bottom: 0;
        border-right: 2px solid #000;
        padding: 8px !important;
    }
    #checklist .tabela .titulos #obs-titulo {
        border-right: 0;
    }
    input, select {
        display: none !important;
    }
    .print-value {
        display: block !important;
        font-size: 12px;
        max-width: 280px;
        margin-bottom: 0;
    }
    #secoes_checklist p:not(#secoes_checklist .tabela p) {
        display: none;
    }
    #secoes_checklist h2 {
        font-size: 18px;
        border-bottom: none;
        color: #000000;
    }
    #checklist .logo_amaweb {
        width: 90px;
        height: 50px;
        object-fit: contain;
        display: flex;
        margin: 0 auto;
    }
    #checklist h2.fw-bold {
        font-size: 15px;
        text-align: center;
        margin-top: 25px;
    }
    #infos_impressao p {
        font-size: 12px !important;
        margin-bottom: 0;
    }
    #infos_impressao .box {
        border: 2px solid #000;
        padding: 8px;
        grid-template-columns: 300px 1fr;
    }
    #infos_impressao .box p.h3 {
        font-size: 14px;
        border-bottom: none;
        color: #000000;
    }
    #infos_impressao .box p.h3 strong {
        font-weight: 700;
    }
    #infos_impressao .box p {
        font-size: 12px;
        line-height: 22px !important;
        margin-bottom: 0;
    }
    #secoes_checklist h2 {
        font-size: 15px;
    }
    .pieContainer {
        position: relative;
        width: 70px;
        height: 70px;
    }
    .pieBackground {
        background-color: #e0e0e0;
        position: absolute;
        width: 70px;
        height: 70px;
        border-radius: 50%;
    }
    .hold, .pie {
        position: absolute;
        width: 70px;
        height: 70px;
        border-radius: 50%;
    }
    .hold {
        clip: rect(0px, 70px, 70px, 35px);
    }
    .pie {
        clip: rect(0px, 35px, 70px, 0px);
        transform: rotate(0deg);
    }
    .color-box {
        width: 10px;
        height: 10px;
        display: inline-block;
        margin-right: 5px;
    }
    #secoes_checklist p {
        line-height: unset !important;
    }
    .aparecer-impressao {
        display: block !important;
    }
}